.musicplayer {
    position:relative;
    width: 287px;
    height: 500px;
    margin: auto;
    overflow: hidden;
}
.musicplayer::before{
    content: "";
    position: absolute;
    top: -257px;
    right: 0px;
    bottom: 0px;
    left: -218px;
    z-index: -1;
    background-image: url("./img.jpg");
    background-size: cover;
    opacity: 0.6;
    filter: blur(3px) brightness(60%);
}

.image {
    display: block;
    position: relative;
    margin: auto;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
}

.slidecontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.slider,.slider-round{
    width: 185;
    height: 1;
    appearance: none;
    outline: none;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 4px; 
  height: 16px;
  background: #f8f8f8;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
}

.slider-round::-webkit-slider-thumb {
  appearance: none;
  width: 13px; 
  height: 13px;
  border-radius: 50%;
  background: #f8f8f8;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
}

.minmax{
  width: 180;
  display: flex;
  justify-content: space-between;
  font-size: x-small;
}

button {
    background-color: transparent;
    color: honeydew;
    outline: none;
}

button:active{
  box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
}

button:focus{
  outline: none;
}

.controller {
  height: 60px;
  text-align: center;
}

.centerbutton {
  border-radius: 50%;
  border-style: solid;
  border-color: white;
}